---
import BaseLayout from '../layouts/BaseLayout.astro';
import ServiceCard from '../components/ServiceCard.astro';
import ComparisonList from '../components/ComparisonList.astro';
import services from '../data/service.json';
import comparison from '../data/comparison.json';
import ComparisonCard from '../components/ComparisonCard.astro';
const pageTitle = 'setup';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">時間割受け取り</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">サービス一覧</p>
    </div>

    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {services.map((service) => (
          <ServiceCard {...service} />
        ))}
      </div>
    </div>

    <!-- Comparison Table -->
<div class="relative">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 md:py-14 lg:py-20 mx-auto">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-3xl md:leading-tight dark:text-white">サービスの比較</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">機能面とかいろいろ</p>
    </div>

    <div class="relative after:absolute after:inset-x-0 after:bottom-0 after:z-10 after:w-full after:h-48 after:bg-linear-to-t after:from-white after:via-white/70 dark:after:from-neutral-900 dark:after:via-neutral-900/95">
      <!-- Header -->
      <div class="hidden lg:block sticky top-0 start-0 py-2">
        <!-- Grid -->
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-2">
            <div class="h-full">
            </div>
          </div>
          {services.map((service) => (
            <ComparisonCard {...service} />
          ))}
        </div>
      </div>

      {comparison.map((com) => (
        <ComparisonList {...com} />
      ))}
  </div>
</div>
<!-- End Comparison Table -->
  </div>
</BaseLayout>

<!-- https://preline.co/examples/pricing-sections.html#pricing-card-header-style -->
