---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const { pageTitle } = Astro.props;
---
<!-- ========== MAIN CONTENT ========== -->
<html lang="jp" id="content">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
		<link rel="manifest" href="/manifest.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>mito1daily - {pageTitle}</title>
	</head>
	<body class="min-h-screen bg-gray-white dark:bg-gray-dark dark:text-gray-light">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
  <!-- ========== END MAIN CONTENT ========== -->

<script>import "preline/dist/preline.js";</script>
