---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const { pageTitle } = Astro.props;
---
<!-- ========== MAIN CONTENT ========== -->
<html lang="jp" id="content">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicons/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>mito1daily - {pageTitle}</title>
	</head>
	<body class="min-h-screen bg-gray-white transition-all duration-300 dark:bg-gray-dark dark:text-gray-light">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
  <!-- ========== END MAIN CONTENT ========== -->

<script>import "preline/dist/preline.js";</script>
